@mixin mullish-bold{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

@mixin mullish-italic{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: italic;
}

@mixin mullish-normal{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}