@use 'header';
@use 'fonts';

body{
    height:100vh;
    padding-left:125px;
    padding-right:125px;
    padding-top:61px;
    padding-bottom:47px;
    box-sizing:border-box;
}


a{
    @include fonts.mullish-bold;
    color:#111111;
    text-decoration: none;
}

p{
    color:#111111;
    @include fonts.mullish-normal;
    font-size:16px;
    line-height:26px;
}


.intro{
    display:flex;
    justify-content:space-between;
    width:1110px;
}

.title{
    margin-top:96px;

    &__p{
        width:635px;
        height:222px;
    }

}

h1{
    @include fonts.mullish-bold;
    line-height:60px;
    font-size:40px;
    line-height:55px;
    width:495px;
    height:130px;
}

.center{
    display:flex;
    justify-content:center;
}


.bigImage{
    height:660px;
    width:1110px;
    margin-top:61px;

    &__p{
        width:1109px;
        margin-top:45px;
        margin-bottom:45px;
    }
}

.details{
    display:grid;
    width:335px;
    height:343px;
    margin-top:138px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 45% 55%;
    grid-gap:2px;

}

h3{
    @include fonts.mullish-bold;
}

.h3--light{
    opacity:50%
}

.gallery{
    display:grid;
    height:400px;
    width:1110px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap:30px;
    margin-bottom:132px;
}


a:hover {
  background-color: #4CAF50;
  color: white;
}