.header, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1110px;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
}

li {
  list-style-type: none;
}

body {
  height: 100vh;
  padding-left: 125px;
  padding-right: 125px;
  padding-top: 61px;
  padding-bottom: 47px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #111111;
  text-decoration: none;
}

p {
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1110px;
}

.title {
  margin-top: 96px;
}
.title__p {
  width: 635px;
  height: 222px;
}

h1 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  line-height: 60px;
  font-size: 40px;
  line-height: 55px;
  width: 495px;
  height: 130px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bigImage {
  height: 660px;
  width: 1110px;
  margin-top: 61px;
}
.bigImage__p {
  width: 1109px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.details {
  display: -ms-grid;
  display: grid;
  width: 335px;
  height: 343px;
  margin-top: 138px;
  -ms-grid-rows: 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr;
  grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: 45% 2px 55%;
  grid-template-columns: 45% 55%;
  grid-gap: 2px;
}

.details > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.details > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.details > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.details > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.details > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.details > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.details > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.details > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.details > *:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.details > *:nth-child(10) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.details > *:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.details > *:nth-child(12) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

h3 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.h3--light {
  opacity: 50%;
}

.gallery {
  display: -ms-grid;
  display: grid;
  height: 400px;
  width: 1110px;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  margin-bottom: 132px;
}

.gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.gallery > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

a:hover {
  background-color: #4CAF50;
  color: white;
}