
/* @use '<partial-name>'; automatically applies all of the css slectors and property values from the partial file in to this file. Howwever it does not automatically apply variables and mixins.*/
@use 'header';
@use 'fonts';

/* if you remove the local repo and clone the remote one, prepos will not work even if you cloned to the same local directory. Solution: delete the old prepos project and delete the .css file from the cloneed repo. In prepos create a new project then you just need to process your main .scss file */


$blue: #4A4FF2;



body{
    height:100vh;
    padding-left:125px;
    padding-right:125px;
    padding-top:61px;
    padding-bottom:47px;
    box-sizing:border-box; /*To make the padding included to the total size and therefore preventing vertical scrollbar from appearing*/
}

a{
    /* syntax for using a mixin from a connected partial: @include <partial-name>.<mixin-name>; */
    @include fonts.mullish-bold;
}


.intro{
    margin-top:96px;
    display:flex;
    justify-content:space-between;
}

.title{
    height:251px;
    width:635px;
}

h3{
    color:$blue;
    @include fonts.mullish-bold;
}

h1{
    @include fonts.mullish-bold;
    line-height:60px;
    height:191px;
    font-size:40px;
}

.blue{
    color:$blue;
}

.quote{
    align-self:flex-end;
    margin-right:73px;
    width:212px;
    height:34px;
    font-size:18px;
    @include fonts.mullish-italic;
    color:#111111;
}

.rectangle {
  height: 2px;
  width: 30px;
  background-color: #111111;
}

.gallery{
    display:grid;
    background-color:yellow;
    height:1960px;
    margin-top:144px;
    grid-gap:20px;
}

.row1{
    display:grid;
    grid-gap:20px;
    grid-template-columns: 1fr 1fr 1fr;

}

.element{
    background-color:blue;
}

.r1e3{
    grid-row: 1 / 3;
    grid-column: 3 / 4; /* if you just set grid-row 1/3 without grid-column: 3 / 4;, the element will appear in the first column even if it's the third element in the html file*/
}