
/* @use '<partial-name>'; automatically applies all of the css slectors and property values from the partial file in to this file. Howwever it does not automatically apply variables and mixins.*/
@use 'header';
@use 'fonts';

/* if you remove the local repo and clone the remote one, prepos will not work even if you cloned to the same local directory. Solution: delete the old prepos project and delete the .css file from the cloneed repo. In prepos create a new project then you just need to process your main .scss file */


$blue: #4A4FF2;



body{
    height:100vh;
    padding-left:125px;
    padding-right:125px;
    padding-top:61px;
    padding-bottom:47px;
    box-sizing:border-box; /*To make the padding included to the total size and therefore preventing vertical scrollbar from appearing*/
}

a{
    /* syntax for using a mixin from a connected partial: @include <partial-name>.<mixin-name>; */
    @include fonts.mullish-bold;
}


.intro{
    margin-top:96px;
    display:flex;
    justify-content:space-between;
}

.title{
    height:251px;
    width:635px;
}

h3{
    color:$blue;
    @include fonts.mullish-bold;
}

h1{
    @include fonts.mullish-bold;
    line-height:60px;
    height:191px;
    font-size:40px;
}

.blue{
    color:$blue;
}

.quote{
    align-self:flex-end;
    margin-right:73px;
    width:212px;
    height:34px;
    font-size:18px;
    @include fonts.mullish-italic;
    color:#111111;
}

.rectangle {
  height: 2px;
  width: 30px;
  background-color: #111111;
}

.gallery{
    display:grid;
    background-color:yellow;
    margin-top:144px;
    grid-gap:20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery__column{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.element{
    background-color:blue;
}


/*I don't need to specify width because every grid column width is equal and the three flexboxes already have equal widths from grid-template-columns: 1fr 1fr 1fr; */
.e1{
    height:413px;

}

.e2{
    height:351px;
}

.e3{
    height:599px;
}

.e4{
    height:475px;
}

.e5{
    height:413px;
}

.e6{
    height:413px;
}

.e7{
    height:475px;
}

.e8{
    height:537px;
}

.e9{
    height: 537px;
}

.e10{
    height:537px;
}

.e11{
    height:599px;
}

.e12{
    height:351px;
}

.center{
    display:flex;
    justify-content:center;

}

.group{
    display:flex;
    justify-content:space-between;
    margin-top:101px;
    width:1079px;
    height:106px;

    &__h2{
        @include fonts.mullish-bold;
        line-height:38px;
        font-size:28px;
        width:635px;
        height:106px;
    }

    &__ul{ /* this is the same as writing a seperate .group__ul selector */
        @include fonts.mullish-normal;
        font-size:18px;
        
    }
}

hr.solid {
  border-top: 3px solid #bbb;
  margin-top:101px;
}


.awards{
    display:flex;
    margin-top:1px;
    height:823px;
    width:1110px;
    flex-direction:column;
    
    &__text{
        width:190px; 
        height:110px;
        margin-left:155px;
    }

    &__date{
        margin-left:121px;
    }

    
    &__top{
        display:flex;
        height:50%;
        justify-content:space-between;
        
        &__right{
           display:flex;
           justify-content:center;
           
        }

    }

    &__bottom{
        display:flex;
        height:50%;
    }
}

